<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Mixed Strategy Consulting, LLC is a small consultancy operated by Dr. David Fridovich-Keil. David is an expert in optimization, game theory, and artificial intelligence. Please find a complete list of publications <a href="https://scholar.google.com/citations?user=gqyTnpQAAAAJ&hl=en">here</a>.
        </p>
      </div>
      <div class="col-lg-4">
          <p>David is also an enthusiastic software developer, and is particularly interested in developing new solvers for noncooperative games. Check out some of the projects above for more details! </p>
      </div>
      <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
      -->
    </div>
  </div>
</section>
