<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
          <p>Mixed Strategy Consulting, LLC is a specialized consultancy founded and operated by Dr. David Fridovich-Keil, an expert in optimization, game theory, and artificial intelligence. Our focus is on applying cutting-edge research and real-world insights to help prospective clients solve complex strategic and technical challenges. We welcome partnerships with talented collaborators who share our passion for advancing the field.
          </p>
      </div>
      <div class="col-lg-4">
          <p>Please find a complete list of publications <a href="https://scholar.google.com/citations?user=gqyTnpQAAAAJ&hl=en">here</a>. David is also an enthusiastic software developer, and is particularly interested in developing new solvers for noncooperative games. Check out some of the projects above for more details!
          </p>
      </div>
    </div>
  </div>
</section>
